
@{
    ViewBag.Title = "Relatórios";
}
<div class="container body-content">
    <div class="row">
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

        <h2 class="space fonts">@ViewBag.Title</h2>
        <hr/>

        <form class="fonts-semi" action="">
            <div class=" date space">
                <div class=" " for="re">Relatório :</div>
                <select class="space-date" name="re" id="re">
                    <option value="venda">Venda</option>
                    <option value="caixa">Fechamento de caixa</option>
                    <option value="estoque">Estoque</option>
                </select>
            </div>
            <div class="date fonts-semi">
                <div class="date-space">
                    <p>Data inicial:<input class="space-date" type="date" /></p>
                </div>
                <div class="date-space">
                    <p>Data final:<input class="space-date" type="date" /></p>
                </div>
            </div>
            <hr/>

            <div class="space fonts">
                <input class="btn" type="submit" value="Gerar relatorio">
            </div>

        </form>
    </div>
</div>