@{
    ViewBag.Title = "Home Page";
}

<div class="body-home">
    <div class="row">
        <div class="col-md-4">
            <h3 class="fonts-home">Hamburguer</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Bebidas</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Mais vendidos</h3>
        </div>
    </div>
    <hr class="hr-home" />
</div>
