@{
    ViewBag.Title = "Home Page";
}

<div class="body-home">
    <div class="row">
        <div class="col-md-4">
            <h3><a class="fonts-home" href="/Cardapio#Hamburguer">Hamburguer</a></h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>
        <div class="col-md-4">
            <h3> <a class="fonts-home" href="/Cardapio#bebidas">Bebidas</a></h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Mais vendidos</h3>
            <ul class="ul-home">
                <li class="li-home">Cheeseburguer</li>
                <div class="hr-li" />
                <li class="li-home">Smash Bacon</li>
                <div class="hr-li" />
                <li class="li-home">Duplo Bacon</li>
                <div class="hr-li" />
                <li class="li-home">Duplo Burguer Picanha</li>
                <div class="hr-li" />
                <li class="li-home">Burguer Picanha</li>
                <div class="hr-li" />
            </ul>

        </div>
    </div>
    <hr class="hr-home" />
</div>

