
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="body-home" id="Hamburguer">
    <div class="row">
        <h3 class="fonts-home">Hamburguer</h3>
        <div class="col-md-4">
            <h3 class="fonts-home">Cheeseburguer</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
            <div class="fonts-obs">Pao brioche, blend 200g, queijo cheddar maionese aioli.    R$ 19,90 </div>

            <h3 class="fonts-home">Duplo Burguer Picanha</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
            <div class="fonts-obs">Pao brioche, 2 blend de picanha 200g, gruyere e barbecue de goiabada. </div>
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Smash Bacon</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
            <div class="fonts-obs">Pao brioche, blend 200g amassado, 5 fatias de bacon, queijo mussarela maionese aioli. </div>

            <h3 class="fonts-home">Duplo Bacon</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
            <div class="fonts-obs">Pao brioche, 2 blend 200g, 5 fatias de bacon, queijo mussarela maionese aioli </div>
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Burguer Picanha</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
            <div class="fonts-obs">Pao brioche, blend de picanha 200g, gruyere e barbecue de goiabada. </div>
        </div>

    </div>
    <hr class="hr-home" id="bebidas" />
    <div class="row " >
        <h3 class="fonts-home">Bebidas</h3>
        <div class="col-md-4">
            <h3 class="fonts-home">Coca Cola 600ml</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>

            <h3 class="fonts-home">Sprite lata</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Guarana lata</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Guarana 600ml</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
            <div class="fonts-preco">R$ 20,50</div>
        </div>
    </div>
    <hr class="hr-home" />
</div>

