
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="body-home" id="Hamburguer">
    <div class="row">
        <h3 class="fonts-home">Hamburguer</h3>
        <div class="col-md-4">
            <h3 class="fonts-home">Cheeseburguer</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Smash Bacon</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Duplo Bacon</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Duplo Burguer Picanha</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Burguer Picanha</h3>
            <img class="img-home" src="~/img/hg.png" alt="">
        </div>

    </div>
    <hr class="hr-home" id="bebidas" />
    <div class="row " >
        <h3 class="fonts-home">Bebidas</h3>
        <div class="col-md-4">
            <h3 class="fonts-home">Coca Cola 600ml</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Sprite lata</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Guarana lata</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
        </div>
        <div class="col-md-4">
            <h3 class="fonts-home">Guarana 600ml</h3>
            <img class="img-home" src="~/img/bebida.png" alt="">
        </div>
    </div>
    <hr class="hr-home" />
</div>

